<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
</head>
<body>


    <div class="container">
        <div class="header">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <h3 class="text-muted">MP</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="img-responsive" src="{{ STATIC_URL }}img/MP.png" style="height: 100px; width: 100px;" >
                                </a>
                                <div class="media-body">
                                    <br>
                                    <h1 class="media-heading">{% block encabezado %} {% endblock %}</h1>
                                </div>
                            </div>


                        </div>
                        {% block contenido %}{% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
</body>
</html>