{% extends 'home.html' %}
{% block encabezado %}Inscripcion a {{ actividad.nombre }}{% endblock %}
{% block links %}
    <script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/datepicker.js"></script>
{% endblock %}
{% block contenido %}
    {% if ipBoolean == True %}
        <div class="alert alert-danger">ERROR: Usted ya se ha inscripto a esta actividad</div>
    {% else %}
        <div class="alert alert-info">
            Los campos que poseen (*) son obligatorios<br>
            Formato de fecha: <b>aaaa-mm-dd</b> | Ejemplo: 1974-10-22
        </div>
        <form id="formulario" method="post" action="">{% csrf_token %}
            <table class="table">
                {% for field in formulario %}
                    {% if field.errors %}
                        <tr class="list-group-item-danger">
                            {% else %}
                        <tr>
                    {% endif %}
                <th>{{ field.label_tag }}</th>
                <td>
                    {{ field.errors }}
                    {{ field }}
                </td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-default">Confirmar</button>
        </form>

    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $("[id*='id_fecha']").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0"
            });
            $("[id*='id_fecha']").attr("readonly", true);
        });
    </script>
{% endblock %}