{% extends 'base.html' %}
{% block titulo %}Movimiento Peregrino{% endblock %}
{% block encabezado %}Actividades del Movimiento Peregrino{% endblock %}
{% block contenido %}
    {% if suceso == True %}
        <div class="alert alert-success">{{ mensaje }}</div>
    {% elif suceso == False %}
        <div class="alert alert-danger">{{ mensaje }}</div>
    {% endif %}

    <!--
        <a href="{% url 'inscripciones.views.formulario_view' %}" class="btn btn-default">Inscribirse al retiro</a>
        <a href="{% url 'inscripciones.views.lista_inscriptos_view' %}" class="btn btn-default">Lista de inscriptos</a>
    -->
    <ul class="list-group">
    {% for actividad in lista_actividades %}
        <li class="list-group-item">
            <h3>Inscripcion a la actividad: {{ actividad.nombre }}</h3>
            <dl class="dl-horizontal">
                <dt>Fecha de Inicio</dt>
                <dd>{{ actividad.fechaInicio }}</dd>
                <dt>Fecha de Fin</dt>
                <dd>{{ actividad.fechaFin }}</dd>
                <dt>Lugar</dt>
                <dd>{{ actividad.lugar }}</dd>
                <dt>Costo</dt>
                <dd>{{ actividad.costo }}</dd>
                {% if actividad.descripcion != '' %}
                <dt>Descripcion</dt>
                <dd>{{ actividad.descripcion | linebreaks }}</dd>
                {% endif %}
                <dt>Fecha de habilitacion:</dt>
                <dd>{{ actividad.fechaActivacion }}</dd>
            </dl>
            <div class="alert alert-warning"><b>Requisitos:</b>{{ actividad.requisitos | linebreaks }}</div>
            {% if actividad.encuentro == 'NO' %}
            <a href="{% url 'inscripciones.views.formulario_actividad_view' actividad.id %}" class="btn btn-default">
                Inscribirse
            </a>
            {% else %}
            <a href="{% url 'inscripciones.views.formulario_encuentro_view' actividad.id %}" class="btn btn-default">
                Inscribirse
            </a>
            {% endif %}
        </li>
        <br />
    {% endfor %}
    </ul>

{% endblock %}
