{% extends 'base.html' %}
{% block titulo %}Movimiento Peregrino{% endblock %}
{% block encabezado %}Actividades del Movimiento Peregrino{% endblock %}
{% block contenido %}
    {% if suceso == True %}
        <div class="alert alert-success">{{ mensaje }}</div>
    {% elif suceso == False %}
        <div class="alert alert-danger">{{ mensaje }}</div>
    {% endif %}
    <!--
        <a href="{% url 'inscripciones.views.formulario_view' %}" class="btn btn-default">Inscribirse al retiro</a>
        <a href="{% url 'inscripciones.views.lista_inscriptos_view' %}" class="btn btn-default">Lista de inscriptos</a>
    -->
    <div class="row">
    {% for actividad in lista_actividades %}

        <div class="col-md-12">
        <div class="list-group">
            {% if actividad.encuentro == 'NO' %}
            <a href="{% url 'inscripciones.views.formulario_actividad_view' actividad.id %}" class="list-group-item">
            {% else %}
            <a href="{% url 'inscripciones.views.formulario_encuentro_view' actividad.id %}" class="list-group-item">
            {% endif %}
                <h3>Inscripcion a la actividad: {{ actividad.nombre }} <small>Haz click aqui para inscribirte</small></h3>
                <dl class="dl-horizontal">
                    <dt>Fecha de Inicio</dt>
                    <dd>{{ actividad.fechaInicio }}</dd>
                    <dt>Fecha de Fin</dt>
                    <dd>{{ actividad.fechaFin }}</dd>
                    <dt>Lugar</dt>
                    <dd>{{ actividad.lugar }}</dd>
                    <dt>Costo</dt>
                    <dd>200.000 Gs.</dd>
                    <dt>Requisitos</dt>
                    <dd>{{ actividad.requisitos }}</dd>
                    {% if actividad.descripcion != '' %}
                    <dt>Descripcion</dt>
                    <dd>{{ actividad.descripcion }}</dd>

                    {% endif %}
                    <dt>Fecha de habilitacion:</dt>
                    <dd>{{ actividad.fechaActivacion }}</dd>
                </dl>
            </a>
        </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}
