{% load i18n %}
{% load url from future %}

Hola {{ inscripto.nombre }},

<p>Tenemos el agrado de comunicarle que hemos recibido su solicitud para la actividad <strong>{{ inscripto.actividad.nombre }}</strong>
y que usted cuenta con un lugar en la lista de los inscriptos.</p>

<p>Una persona se estará comunicando con Usted para darle indicaciones con respecto al pago e informaciones de la actividad.</p>

<p>Si tienes alguna duda por favor comuníquese con {{ inscripto.actividad.nombreContacto }} al correo: {{ inscripto.actividad.emailContacto }}</p>

<p>Muchas Gracias</p>

<strong>Movimiento Peregrino</strong>
