{% load i18n %}
{% load url from future %}

Hola {{ inscripto.nombre }},

<p>Tenemos el agrado de comunicarle que hemos recibido su solicitud para la actividad <strong>{{ inscripto.actividad.nombre }}</strong>
y que los organizadores evaluaran su inscripción para corroborar los datos.</p>

<p>Una persona se estará comunicando con Usted en caso de que cuente con un lugar en la actividad
{{ inscripto.actividad.nombre }} para darle indicaciones con respecto al pago e informaciones detalladas de la actividad.</p>

<p>Si tenes alguna duda por favor comuníquese con {{ inscripto.actividad.nombreContacto }} al correo: {{ contactoTitular }}</p>

<p>Muchas Gracias</p>

<strong>Movimiento Peregrino</strong>
